# tag files
tags
tags.*

# local files
init.vim
vimconfig/log
vimconfig/nvim.log
vimconfig/logs/
vimconfig/.netrwhist
vimconfig/netrw/
vimconfig/swap/
vimconfig/tmp/
vimconfig/tmp_nvim/
vimconfig/shada/
vimconfig/lua/
vimconfig/site/
vimconfig/session/
vimconfig/sessions/
vimconfig/plugged/
vimconfig/harpoon.json
vimconfig/harpoon/
vimconfig/spear_data/
vimconfig/copilot-chat
vimconfig/lsp.log
vimconfig/blink/
vimconfig/mason.log
vimconfig/mason/
vimconfig/oldfiles-improved/
