# tag files
tags
tags.*

# local files
init.vim
vimconfig/.netrwhist
vimconfig/log
vimconfig/session/
vimconfig/sessions/
vimconfig/tmp/
vimconfig/neotmp/
vimconfig/lua/
vimconfig/shada/
vimconfig/plugged/
vimconfig/lua/
vimconfig/harpoon.json
vimconfig/harpoon/
vimconfig/spear_data/
