# no beep
set bell-style none

# show completions on first tab press
set show-all-if-ambiguous on

set match-hidden-files off

# more precise ctrl-w
set bind-tty-special-chars off
"\C-w": backward-kill-word

# tab and s-tab to cycle completion results
Tab: menu-complete
"\e[Z": menu-complete-backward

# better search history completion
"\e[A": history-search-backward
"\e[B": history-search-forward

# ensure C-r works
"\C-r": reverse-search-history

